@use "../../../scss/general/mixins";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mixins.mobile {
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}
.header__right {
  display: flex;
}